<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Cambio de Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-content>
    <div class="wrapper">
      <div class="logo">
        Duoc<span>UC</span>
      </div>
      <div class="tag-line" style="text-align: center;">
        INGRESA TU NUEVA CONTRASEÑA:
      </div>

      <div class="box">
        <ion-card>
          <ion-card-content>
            <form [formGroup]="verificationForm">
              <ion-item>
                <ion-input minlength="6" maxlength="12" id="usuario" label="{{textUser}} " labelPlacement="floating" placeholder="{{desUsuario}}" formControlName="username"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input minlength="6" maxlength="12" id="newPassword" type="password" label="{{textNewPass}} " labelPlacement="floating" placeholder="{{desUser}}" formControlName="newPassword"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input minlength="6" maxlength="12" type="password" type="password" id="confirmPassword" label="{{textConfirmPass}}: " labelPlacement="floating" placeholder="{{desPass}}" formControlName="confirmPassword"></ion-input>
              </ion-item>
            </form>
          </ion-card-content>
        </ion-card>

        <!-- Agregué (click) y (tap) para manejar el evento de clic o toque -->
        <ion-button class="btn2" expand="full" (click)="actualizarContrasena()">Cambiar Contraseña</ion-button>
      </div>
    </div>
  </ion-content>
</ion-content>
